.banner{
    width: 90%;
    height: 120vh;
    background-size: cover;
    background-color: linear-gradient((rgba(0,0,0,0.5),rgba(0,0,0,0.5)));
}
.navbar ul{
    list-style-type:none;
    margin: 0;
    padding: 0px;
    color:white;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.navbar ul li{
    display: inline;
    margin-right: 10px;
}
.navbar ul li a{
    color:white;
    text-decoration: none;
    text-align: right;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 10px;
}
.navbar ul li a:hover{
    background: burlywood;
    transition: 0.5s;
}
.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
#menu-bars{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}
@media (max-width:991px){
    html{
        font-size: 12px;
    }
    .header{
        padding:1.5rem 2rem;
    }
}
@media (max-width:768px){
    #menu-bars{
        display: initial;
    }
    .navbar .ul{
        list-style-type:none;
        margin: 0;
        padding: 20px;
        color:white;
        text-align: right;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .navbar .ul .li{
        display: inline;
        margin-right: 10px;
    }
    .navbar .active{
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    .fa-bars{
        transform: rotate(180deg);
    }
    .navbar .ul .li a{
        color:white;
        text-decoration: none;
        text-align: right;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 2px 15px;
        border-radius: 10px;
    }
    .navbar .ul .li a:hover{
        background: burlywood;
        transition: 0.5s;
    }
}
@media (max-width:450px){
    html{
        font-size: 12px;
    }
}
footer{
    background-color: #1226a6;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

